Title: SunStar Systems CMS Primer

{% extends "main.html" %}
{% block content %}
<div class="page-header"><div style="text-align:right; padding-top: 10px">{{ breadcrumbs|safe }}&nbsp;&nbsp;<a href="javascript:void(location.href='https://cms.sunstarsys.com/redirect?uri='+escape('http://www.sunstarsys.com{{
      path }}')+';action=edit')"><img src="/images/edit.png" /></a></div>
  <h1>{{ headers.title }}</h1></div>
<div class="jumbotron">
{% filter markdown %}
### SunStar Systems CMS Primer

Work with partners to create content in this space. 

- [CMS Build Toolchain](https://github.com/joesuf4/cms)
- ithread-safe svn client code (much hacvery, should be done Friday)
	
{% endfilter %}

{{ content|markdown }}

</div>
{% endblock %}
