{% extends "main.html" %}
{% block content %}
<div class="page-header">
	<div style="text-align:right; padding-top: 10px">{{ breadcrumbs|safe }}  <a href="javascript:void(location.href='https://cms.sunstarsys.com/redirect?uri='+escape(location.href)+';action=edit')"><img src="/images/edit.png" /></a>
	</div>
  <h1>{{ headers.title }}</h1>
</div>
<div class="jumbotron">

{% filter markdown %}
## SunStar Systems CMS

<span class="text-success"><em>The Original NoSQL Markdown website builder and online IDE.</em></span>&trade;

The <span class="text-white">SunStar Systems CMS</span> is an online, flexible, cost-effective, very high performance Subversion-backed IDE for developing and maintaining static website content with some basic CGI/SSI features.  It does this by either interfacing with an [svnpubsub](https://svn.apache.org/repos/asf/subversion/trunk/tools/server-side/svnpubsub/)-enabled, customer hosted Subversion service, or by using one of ours.  It builds each committed change using a lightning fast `Perl5` + `node.js` build system based on the [Hollywood principle](https://deviq.com/hollywood-principle/): it calls out to the customer-supplied Perl modules (`path.pm` and `view.pm`) to do whatever the customer needs done.

Multi-gigabyte source trees are simply no match for it &mdash; full site build durations are measured in seconds, not hours and minutes.  But given its unique dependency mangement functionality, it almost never needs to resort to them: <span class="text-success"><em>we only build what you need built.</em></span>&trade;

[REST compliance](https://www.codecademy.com/articles/what-is-rest) has its benefits to CMS users.  You'll like the fact that your browser's <span class="text-white">Back</span> button doesn't break the service; in fact it's an essential component of the <span class="text-white">Rollback</span> functionality. In an emergency site breakage situation, going back to the bad <span class="text-white">Commit</span> submission's result page will provide you with the ability to reverse merge <span class="text-white">that</span> errant applied change, and rebuild the site back to a known good state.

We provide a Django based template system derived from a customized `Dotiac::DTL` module from CPAN, but can provide any other (secure) Perl-based template system.  The Apache 2.0 Licensed [CMS build system](https://github.com/joesuf4/cms), together with a large collection of supporting modules to take advantage of within that tree, is available on GitHub.

{% endfilter %}

{{ content|markdown }}
</div>
{% endblock %}
