{% extends "main.html"|append:lang %}
{% load markup %}
{% block title %}
{% ifequal lang ".en" %}
Message Received
{% endifequal %}
{% ifequal lang ".es" %}
Mensaje recibido
{% endifequal %}
{% ifequal lang ".de" %}
Nachricht erhalten
{% endifequal %}
{% endblock %}
{% block header %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-619333051"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-619333051');
  </script>
{% endblock %}
