<h3>Orion {% ifequal lang ".en" %}Sales Enquiries{% endifequal %}{% ifequal
  lang ".es" %}Consultas de ventas{% endifequal %}{% ifequal lang ".de"
  %}Verkaufsanfragen{% endifequal %}{% ifequal lang ".fr" %}Demandes de
  ventes{% endifequal %}</h3>
<br>
<form method="POST" action="/dynamic/enquiry" class="form">

  <label for="name">{% ifequal lang ".en" %}Your Name{% endifequal %}{% ifequal lang ".es" %}Tu nombre{% endifequal %}{% ifequal lang ".de" %}Dein Name{% endifequal %}{% ifequal lang ".fr" %}Votre Nom{% endifequal %}</label>
  <input name="name" id="name" class="form-control" required />

  <label for="email">{% ifequal lang ".en" %}Your Email Address{% endifequal %}{% ifequal lang ".es" %}Tu correo electrónico{% endifequal %}{% ifequal lang ".de" %}Deine Emailadresse{% endifequal %}{% ifequal lang ".fr" %}Votre adresse email{% endifequal %}</label>
  <input type="email" name="email" id="email" class="form-control" required />

  <label for="site">{% ifequal lang ".en"%}Your Target Website{% endifequal %}{% ifequal lang ".es" %}Su sitio web objetivo{% endifequal %}{% ifequal lang ".de" %}Ihre Zielwebsite{% endifequal %}{% ifequal lang ".fr" %}Votre site Web cible{% endifequal %}</label>
  <input name="site" id="site" type="url" class="form-control" required />

  <input type="checkbox" id="confluence" name="confluence" checked /> &nbsp; <label for="confluence">Confluence Migration Required?</label>

  <label>{% ifequal lang ".en" %}Preferred Orion Plan{%
    endifequal %}{% ifequal lang ".es" %}Preferred Orion Plan{% endifequal
    %}{% ifequal lang ".de" %}Preferred Orion Plan{% endifequal %}{%
    ifequal lang ".fr" %}Preferred Orion Plan{% endifequal %}</label>
  <input type="radio" id="planPP" name="plan" value="Professional" checked /> &nbsp; <label for="planPP">Professional Plan</label>
  <input type="radio" id="planBP" name="plan" value="Business" /> &nbsp; <label for="planBP">Business Plan</label>
  <input type="radio" id="planEP" name="plan" value="Enterprise" /> &nbsp; <label for="planEP">Enterprise Plan</label>
  <input type="radio" id="planSI" name="plan" value="Server" /> &nbsp; <label for="planSI">Orion Server Install</label>

  <label for="subject">{% ifequal lang ".en" %}Subject{% endifequal %}{% ifequal lang ".es" %}Sujeto{% endifequal %}{% ifequal lang ".de" %}Gegenstand{% endifequal %}{% ifequal lang ".fr" %}Matière{% endifequal %}</label>
  <input name="subject" id="subject" class="form-control" value="Orion " pattern="Orion.*" required />

  <input type="hidden" name="lang" value="{{ lang }}" />
  <button name="submit" class="btn btn-outline-success" value=1 >{% ifequal lang ".en" %}Submit{% endifequal %}{% ifequal lang ".es" %}Enviar{% endifequal %}{% ifequal lang ".de" %}Einreichen{% endifequal %}{% ifequal lang ".fr" %}Soumettre{% endifequal %}</button>

  <br><br>

  <label for="editor">{% ifequal lang ".en" %}Message for Sales{% endifequal %}{% ifequal lang ".es" %}Mensaje para el departamento de ventas{% endifequal %}{% ifequal lang ".de" %}Nachricht für die Verkaufsabteilung{% endifequal %}{% ifequal lang ".fr" %}Message pour le service commercial{% endifequal %}</label>

  <div id="editor-content">
    <textarea id="editor"></textarea>
  </div>
</form>

<link href="/editor.md/css/editormd.min.css" rel="stylesheet" media="screen">

<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
var IN_GLOBAL_SCOPE=true;
</script>
<script type="module" src="/editor.md/editormd.js"></script>

<script type="text/javascript">
  var editor_content;
  var icon_class ={% ifequal path|dirname "/orion" %}"simple"{% else %}"mini"{% endifequal %};
  $(function() {
      editor_content = editormd("editor-content", {
          toolbarIcons: icon_class,
          watch: {% ifequal path|dirname "/orion" %}true,{% else %}false,{% endifequal %}
	  height: "400px",
	  name: "content",
          mode: "gfm+django",
          path : "/editor.md/lib/",
	  theme : "solarized",
	  previewTheme : "solarized",
	  editorTheme : "solarized",
          emoji: true,
 	  tocm : true,                  // Using [TOCM]
          tex : true,                   // 开启科学公式TeX语言支持，默认关闭
	  flowChart : true,             // 开启流程图支持，默认关闭
          sequenceDiagram: true,
          mermaid: true,
          graphviz: true,
	  htmlDecode : true,
	  taskList: true,
	  codeFold: true,
	  searchReplace: true,
	  onfullscreen     : function() {
              this.settings.toolbarIcons = "full";
              this.setToolbar();
	      this.editor.css({
		  "border-radius": 0,
		  "z-index": 120,
		  "margin-top": 60,
	      });
	  },
	  onfullscreenExit : function() {
              this.settings.toolbarIcons = icon_class;
              this.setToolbar();
	      this.editor.css({
		  zIndex : 10,
		  border : "none",
		  "border-radius" : 5,
		  "margin-top": 0,
	      });
	      this.resize();
	  }

      }, editormd);
      $("html").scrollTop(0);
  });

</script>
<script type="module" src="/editor.md/languages/{{ lang|cut:"." }}.js"></script>

<style type="text/css">
/*-------------------------------------------
	Animations
-------------------------------------------*/
@-webkit-keyframes FADEY {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.theme-showcase {
	-webkit-animation-name: FADEY;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
}
</style>
