{% extends "main.html" %}
{% block content %}
   <div class="breadcrumbs">{{ breadcrumbs|safe }}&nbsp;&nbsp;<a href="javascript:void(location.href='https://cms.sunstarsys.com/redirect?uri='+escape(location.href)+';action=edit')"><img src="/images/edit.png" /></a></div>
     <h1>{{ headers.title|safe }}</h1>
     <div class="essay col-lg-12 container">
       <div style="color:#aaa">
         <small>
           [<a href="/dynamic/search{{path|dirname}}/?regex=^Status:\s{{headers.status|default_if_none:"draft"|lower|cut:"^a-z"}};lang={{lang}};markdown_search=1"><span class="text-warning">{{headers.status|default_if_none:"draft"|upper|cut:"^A-Z"}}</span></a>]
           <em>
             <a href="/dynamic/search{{path}}?regex=diff=r{{content|vcs_revision}};lang={{lang}};markdown_search=1">Last updated</a> by <b>{{ content|ssi|vcs_author:lang }}</b>
             on <b>{{ content|ssi|vcs_date:lang }}</b>
			   <a href="https://github.com/SunStarSys/www/blob/trunk/content{{path}}"><i class="fa-brands fa-small fa-github"></i> source</a>
           </em>
         </small>
         <div class="right"><a id="watch" href="https://cms.sunstarsys.com/redirect?uri=https://{{website}}{{path}};action=watch">
             <i class="fa fa-eye fa-emoji" title="watch"></i>
           </a>&nbsp;
           <a id="unwatch" href="/dynamic/search{{path|dirname}}/?regex=watch=;lang={{lang}};markdown_search=1">
            <i class="fa fa-eye-slash fa-emoji" title="unwatch"></i>
           </a>
         </div>
         <br>&nbsp;
         <br>
       </div>
       {{ content|markdown }}
     </div>
{% endblock %}
{% block footer %}
<div class="container">
{% include "index.html" %}
</div>
{% endblock %}

{% block javascript %}
<script async="" type="module">
  if (document.cookie.indexOf("can_search") >= 0) {
      const response = await fetch("/dynamic/search{{path|dirname}}/?regex=watch=;lang={{lang}};markdown_search=1;as_json=1",
                                   {credentials: 'same-origin'});
      try {
          const json = await response.json();
          const is_watching = json.watch.map(e => e.name).filter(e => e.match(/(?:\/{{path|parse_filename:"1.."}}|\\.\/)$/)).length;
          if (is_watching)
              $("#unwatch").css("display", "inline");
          else
              $("#watch").css("display", "inline");
      }
      catch (e) {

      }
  }
</script>
{% endblock %}
