{% extends "main.html" %}
{% block content %}
   <div class="breadcrumbs">{{ breadcrumbs|safe }}&nbsp;&nbsp;<a href="javascript:void(location.href='https://cms.sunstarsys.com/redirect?uri='+escape(location.href)+';action=edit')"><img src="/images/edit.png" /></a></div>
     <h1>{{ headers.title|safe }}</h1>
     <div class="essay col-lg-12">
       <p style="color:#aaa">
         <small>
           <em>
             [<a href="/dynamic/search{{path|dirname}}/?regex=^Status:\s{{headers.status|default_if_none:"draft"|lower|cut:" 0-9=;,"}};lang={{lang}};markdown_search=1"><span class="text-warning">{{headers.status|default_if_none:"draft"|upper|cut:" 0-9=;,"}}</span></a>]:
             Last updated by <b>{{ content|ssi|vcs_author:lang }}</b>
             on <b>{{ content|ssi|vcs_date }}</b>
           </em>
         </small>
       </p>
       {{ content|markdown }}
     </div>
{% endblock %}
{% block footer %}
<div class="container">
{% include "index.html" %}
</div>
{% endblock %}
