{% if permalink %}
<span class="badge bg-info" style="color:#000">Permalink</span>&nbsp;
{% endif %}

{% if archive_path %}
<span class="badge bg-warning">
  <a style="color:#000" href="{{archive_path}}">Archived</a></span>&nbsp;
{% endif %}

{% for k in headers.keywords %}
<span class="badge bg-danger" style="color:#000">
  <a style="color:#fff"
     href="/dynamic/search{{path|dirname}}/?regex=%23{{k}};lang={{lang}}">#{{k}}</a>
</span>&nbsp;
{% endfor %}

<br>

{% for c in headers.categories %}
<button type="button" class="btn btn-success">
  <a style="color:#fff" href="{{category_root|default_if_none:".."}}/{{c}}">{{c}}</a></button>
&nbsp;
{% endfor %}

{% if comments.0 %}
<hr>
<div class="card border-warning">
<div class="card-header">
<h3 class="card-title">Comments</h3>
</div>
<div class="card-body">
{% for c in comments %}
<h4 class="card-title" id="{{c.key}}">{{c.headers.title}} by {{c.content|ssi|vcs_author:lang}} on <em>{{c.content|ssi|vcs_date}}</em></h4>
<p class="card-text">{{c.content|markdown}}</p>
<hr>
<p>&nbsp;</p>
{% endfor %}
</div>
</div>
{% endif %}

{% filter markdown %}
{% if deps.0 %}
--------

## Index

{% for d in deps %}
- [{{d.1.headers.title|safe}}]({{d.0|urlencode}}) &mdash; {{d.1.content|ssi|lede}} ... <small><em>{{d.1.content|ssi|vcs_date}}</em></small>
{% endfor %}
{% endif %}
{% endfilter %}
