{% filter markdown %}

{% if headers.archive %}
<span class="badge bg-warning text-dark">Archived</span>
{% endif %}

{% if category_root %}
{% for c in headers.categories %}
<button type="button" class="btn btn-success"><a style="color:#fff" href="{{category_root}}/{{c}}">{{c}}</a></button>
{% endfor %}
{% endif %}

--------

## Index

{% for d in deps %}
- [{{d.1.headers.title|safe}}]({{d.0}}) &mdash; {{d.1.content|teaser}} ... <small><em>{{d.1.content|vcs_date}}</em></small>
{% endfor %}
{% endfilter %}