{% if permalink %}
<span class="badge bg-info" style="color:#000">Permalink</span>&nbsp;
{% endif %}

{% if archive_path %}
<span class="badge bg-warning">
  <a style="color:#000" href="{{archive_path}}">Archived</a></span>&nbsp;
{% endif %}

{% for k in headers.keywords %}
<span class="badge bg-danger" style="color:#000">
  <a style="color:#fff"
     href="/dynamic/search{{path|dirname}}/?regex=%23{{k}};lang={{lang}}">#{{k}}</a>
</span>&nbsp;
{% endfor %}

<p>
	&nbsp;
</p>

{% for c in headers.categories %}
<button type="button" class="btn btn-success">
  <a style="color:#fff" href="{{category_root|default_if_none:".."}}/{{c}}">{{c}}</a></button>
&nbsp;
{% endfor %}

{% if comments.0 %}
<hr>
<div class="card border-warning">
<div class="card-header">
<h3 class="card-title">Comments</h3>
</div>
<div id="comments" class="card-body">
{% for c in comments %}
<article id="article-{{c.key}}">
<header><h4 class="card-title" id="{{c.key}}"><a href="#{{c.key}}-link" class="reference-link">{{c.headers.title}}</a> by {{c.content|ssi|vcs_author:lang}} on <em><time>{{c.content|ssi|vcs_date}}</time></em></h4></header>
<p class="card-text">{{c.content|markdown}}</p>
<hr>
<p>&nbsp;</p>
</article>
{% endfor %}
</div>
</div>
<script type="text/javascript">
  var html = "<ul>";
  var current_level = 0;
  var last_level = 0;
  for (const e of $("article").toArray()) {
      last_level = current_level;
      var id = e.getAttribute("id");
      current_level = (id.length - 17) / 2;
      if (current_level == last_level)
          html += "<li>" + e.outerHTML + "</li>";
      else if (current_level > last_level)
          html += "<ul><li>" + e.outerHTML + "</li>";
      else
          html += (new Array(last_level - current_level)).join "</ul>";
  }
  html += "</ul>";
  $("#comments").html(html);
</script>
{% endif %}

{% filter markdown %}
{% if deps.0 %}
--------

## Index

{% for d in deps %}
- [{{d.1.headers.title|safe}}]({{d.0|urlencode}}) &mdash; {{d.1.content|ssi|lede}} ... <small><em>{{d.1.content|ssi|vcs_date}}</em></small>
{% endfor %}
{% endif %}
{% endfilter %}
