<html lang="{{ lang|cut:"." }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SunStar Systems">
    <meta name="author" content="Joe Schaefer">
    <meta name="keywords" content="{%for k in headers.keywords%}{{k}},{%endfor%}{{ facts.keywords }}">
	{% ifequal path|dirname "/orion" %}
	<meta property="og:image" content="/images/sunstar-orion-symbol-linear.png">
	{% else %}
	<meta property="og:image" content="/images/sunstarstaronly.png">
	{% endifequal %}
    <title>{% block title %}{{ facts.title|safe }} - {{ headers.title|safe }}{% endblock %}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/code.css" rel="stylesheet" media="screen">
    <link href="/css/katex.min.css" rel="stylesheet" media="screen">
    <link href="/css/mermaid.min.css" rel="stylesheet" media="screen">
    <link href="/css/local.css" rel="stylesheet" media="screen">
    <link href="/favicon.png" rel="icon">
    {% block header %}{% endblock %}
    {% block analytics %}
    {% include "analytics.html" %}
    {% endblock %}
</head>

<body>
<header>
  <div class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand">
	{% ifequal path|dirname "/orion" %}
	  <img src="/images/sunstar-orion-symbol-linear.png">
          <!-- Derived work from Dennis Moskowitz's original wikipedia image: CC-BySA v4.0 -->
	{% else %}
          <img src="/images/sunstarlinear.png" />
        {% endifequal %}
        </div>
      </div>
      <div class="navbar-collapse collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item{% ifequal path "/index.html"|append:lang %}
            active
            {% endifequal %}"><a class="nav-link text" href="/">{% ifequal lang ".en" %}Home{% endifequal %}{% ifequal lang ".es" %}Hogar{% endifequal %}{% ifequal lang ".de" %}Zuhause{% endifequal %}{% ifequal lang ".fr" %}Accueil{% endifequal %}</a></li>
          <li class="nav-item{% ifequal path "/about.html"|append:lang %}
            active
            {% endifequal %}"><a class="nav-link text" href="/about">{% ifequal lang ".en" %}About{% endifequal %}{% ifequal lang ".es" %}Acerca de{% endifequal %}{% ifequal lang ".de" %}Über{% endifequal %}{% ifequal lang ".fr" %}À propos{% endifequal %}</a></li>
          <li class="nav-item{% ifequal path "/contact.html"|append:lang %}
             active
             {% endifequal %}"><a class="nav-link" href="/contact">{% ifequal lang ".en" %}Contact{% endifequal %}{% ifequal lang ".es" %}Contacto{% endifequal %}{% ifequal lang ".de" %}Kontakt{% endifequal %}{% ifequal lang ".fr" %}Contact{% endifequal %}</a></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{% ifequal lang ".en" %}Products{% endifequal %}{% ifequal lang ".es" %}Productos{% endifequal %}{% ifequal lang ".de" %}Produkte{% endifequal %}{% ifequal lang ".fr" %}Des produits{% endifequal %}... <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-item{% ifequal path "/orion/index.html"|append:lang %}
                active
                {% endifequal %}"><a class="nav-link text-white" href="/orion/index.html{{ lang }}">Orion&trade; Enterprise Wiki</a></li>
              <li class="dropdown-item{% ifequal path "/orion/plans.html"|append:lang %}
                active
                {% endifequal %}"><a class="nav-link text-white"
                href="/orion/plans.html{{ lang }}">{% ifequal lang ".en" %}Orion Pricing Plans{% endifequal %}{% ifequal lang ".es" %}Planes Orion{% endifequal %}{% ifequal lang ".de" %}Orion-Pläne{% endifequal %}{% ifequal lang ".fr" %}Plans Orion{% endifequal %}</a></li>
            </ul>
          </li>
          <li class="nav-item{% ifequal path "/open-source.html"|append:lang %}
            active
            {% endifequal %}"><a class="nav-link" href="/open-source">{% ifequal lang ".en" %}Open Source{% endifequal %}{% ifequal lang ".es" %}Fuente abierta{% endifequal %}{% ifequal lang ".de" %}Open Source{% endifequal %}{% ifequal lang ".fr" %}Open source{% endifequal %}</a></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{% ifequal lang ".en" %}More{% endifequal %}{% ifequal lang ".es" %}Más{% endifequal %}{% ifequal lang ".de" %}Mehr{% endifequal %}{% ifequal lang ".fr" %}Plus{% endifequal %}... <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-item">
                <a class="nav-link text-white" href="https://vcs.sunstarsys.com/viewvc/public/cms-sites/www.sunstarsys.com/trunk/">{% ifequal lang ".en" %}Site Source{% endifequal %}{% ifequal lang ".es" %}Fuente del sitio{% endifequal %}{% ifequal lang ".de" %}Site-Quelle{% endifequal %}{% ifequal lang ".fr" %}Source du site{% endifequal %}</a>
              </li>
              <li class="dropdown-item divider"></li>
              <li class="dropdown-header text-white">{% ifequal lang ".en" %}Site Maps{% endifequal %}{% ifequal lang ".es" %}Mapas del sitio{% endifequal %}{% ifequal lang ".de" %}Site Maps{% endifequal %}{% ifequal lang ".fr" %}Cartes du site{% endifequal %}</li>
              <li class="dropdown-item"><a class="nav-link text-white" href="/sitemap.html.en">{% ifequal lang ".en" %}English{% endifequal %}{% ifequal lang ".es" %}Inglés{% endifequal %}{% ifequal lang ".de" %}Englisch{% endifequal %}{% ifequal lang ".fr" %}Anglais{% endifequal %}</a></li>
              <li class="dropdown-item"><a class="nav-link text-white" href="/sitemap.html.es">{% ifequal lang ".en" %}Spanish{% endifequal %}{% ifequal lang ".es" %}Español{% endifequal %}{% ifequal lang ".de" %}Spanisch{% endifequal %}{% ifequal lang ".fr" %}Espagnol{% endifequal %}</a></li>
              <li class="dropdown-item"><a class="nav-link text-white" href="/sitemap.html.de">{% ifequal lang ".en" %}German{% endifequal %}{% ifequal lang ".es" %}Alemán{% endifequal %}{% ifequal lang ".de" %}Deutsche{% endifequal %}{% ifequal lang ".fr" %}Allemand{% endifequal %}</a></li>
              <li class="dropdown-item"><a class="nav-link text-white" href="/sitemap.html.fr">{% ifequal lang ".en" %}French{% endifequal %}{% ifequal lang ".es" %}Francés{% endifequal %}{% ifequal lang ".de" %}Französisch{% endifequal %}{% ifequal lang ".fr" %}Français{% endifequal %}</a></li>
              <li class="dropdown-item divider"></li>
              <li class="dropdown-header text-white">{% ifequal lang ".en" %}Engagements{% endifequal %}{% ifequal lang ".es" %}Compromisos{% endifequal %}{% ifequal lang ".de" %}Engagements{% endifequal %}{% ifequal lang ".fr" %}Engagements{% endifequal %}</li>
              <li class="dropdown-item"><a class="nav-link text-white" href="/clients">{% ifequal lang ".en" %}Clients{% endifequal %}{% ifequal lang ".es" %}Clientes{% endifequal %}{% ifequal lang ".de" %}Kunden{% endifequal %}{% ifequal lang ".fr" %}Clients{% endifequal %}</a></li>
              <li class="dropdown-item"><a class="nav-link text-white" href="/essays">{% ifequal lang ".en" %}Essays{% endifequal %}{% ifequal lang ".es" %}Ensayos{% endifequal %}{% ifequal lang ".de" %}Aufsätze{% endifequal %}{% ifequal lang ".fr" %}Essais{% endifequal %}</a></li>
              <li class="dropdown-item divider"></li>
              <li class="dropdown-header text-white">{% ifequal lang ".en" %}Taxonomies{% endifequal %}{% ifequal lang ".es" %}Taxonomías{% endifequal %}{% ifequal lang ".de" %}Taxonomien{% endifequal %}{% ifequal lang ".fr" %}Taxonomies{% endifequal %}</li>
              <li class="dropdown-item"><a class="nav-link text-white" href="/categories">{% ifequal lang ".en" %}Categories{% endifequal %}{% ifequal lang ".es" %}Categorías{% endifequal %}{% ifequal lang ".de" %}Kategorien{% endifequal %}{% ifequal lang ".fr" %}Catégories{% endifequal %}</a></li>
              <li class="dropdown-item"><a class="nav-link text-white" href="/archives">{% ifequal lang ".en" %}Archives{% endifequal %}{% ifequal lang ".es" %}Archivo{% endifequal %}{% ifequal lang ".de" %}Archiv{% endifequal %}{% ifequal lang ".fr" %}Les archives{% endifequal %}</a></li>
            </ul>
          </li>
          <li class="nav-item{% ifequal path "/powered-by.html"|append:lang %}
            active
            {% endifequal %}"><a class="nav-link" href="/powered-by">{% ifequal lang ".en" %}Powered by{% endifequal %}{% ifequal lang ".es" %}Energizado por{% endifequal %}{% ifequal lang ".de" %}Unterstützt von{% endifequal %}{% ifequal lang ".fr" %}Alimenté par{% endifequal %}...</a>
          </li>
        </ul>
      </div>
      <div class="row right" id='search'>
        <form action="/dynamic/search{{ path|dirname }}/" class="form-inline right" method="GET">
          <input type="hidden" name="lang" value="{{ lang }}" />
          <input class="form-control" type="text" name="regex"
               placeholder="PCRE
 {% ifequal lang ".en" %}Recursive Search{% endifequal %}{% ifequal lang ".es" %}Búsqueda Recursiva{% endifequal %}{% ifequal lang ".de" %}Rekursive Suche{% endifequal %}{% ifequal lang ".fr" %}Recherche Récursive{% endifequal %}" value="{{ regex }}" />&nbsp;<button type="submit" name="submit" value="1" class="btn btn-outline-danger">
	    {% ifequal lang ".en" %}Search{% endifequal -%}
	    {% ifequal lang ".es" %}Buscar{% endifequal -%}
	    {% ifequal lang ".de" %}Suche{% endifequal -%}
	    {% ifequal lang ".fr" %}Rechercher{% endifequal -%}
          </button>&nbsp;
          <input class="form-control form-check-input" type="checkbox" name="markdown_search"
          id="markdown-search" value="1" {% if markdown_search %}checked{% endif %}/><label for="markdown-search"><small>Markdown</small></label>
        </form>
      </div>
    </div>
  </div>
</header>

{% block alert %}
  {% if alert %}
  <div class="alert alert-dismissible alert-info container">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ alert|markdown }}
  </div>
  {% endif %}
{% endblock %}

<div class="container theme-showcase">
{% block content %}
  <div class="breadcrumbs">
      {{ breadcrumbs|safe }}&nbsp;&nbsp;<a href="javascript:void(location.href='https://cms.sunstarsys.com/redirect?uri='+escape(location.href))">
        <img src="/images/edit.png" />
      </a>
  </div>
  <h1>{{ headers.title|safe }}</h1>
  <div class="jumbotron">{{ content|markdown }}</div>
{% endblock %}
  <footer>{% block footer %}{% endblock footer %}</footer>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/raphael.min.js"></script>
  <script src="/js/underscore.min.js"></script>
  <script src="/js/flowchart.min.js"></script>
  <script src="/js/jquery.flowchart.min.js"></script>
  <script src="/js/sequence-diagram.min.js"></script>
  <script src="/js/d3.min.js"></script>
  <script src="/js/wasm/index.min.js"></script>
  <script src="/js/d3-graphviz.js"></script>
  <script src="/js/mermaid.min.js"></script>
  <script src="/js/mermaid-mindmap.min.js"></script>
  <script src="/js/chart.umd.js"></script>
  <script type="text/javascript">
    mermaid.registerExternalDiagrams([window["mermaid-mindmap"]]);
    mermaid.initialize({theme: "dark", startOnLoad: true, securityLevel: "loose"});
    $(".flowchart").flowChart();
    $(".sequence-diagram").sequenceDiagram();
    for (const e of $("body").find(".graphviz").toArray()) {
        d3.select(e).graphviz({useWorker: false}).renderDot($(e).text());
        e.innerHTML = ""
    }
  </script>
</div>
</body>
</html>
