<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SunStar Systems">
    <meta name="author" content="Joe Schaefer">
    <meta name="keywords" content="{{ headers.keywords }},{{ conf.keywords }}">

    <title>{% block title %}{{ conf.title }} - {{ headers.title }}{% endblock %}</title>


    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- code highlighting -->
    <link href="/css/code.css" rel="stylesheet">
    <!-- local overrides -->
    <link href="/css/local.css" rel="stylesheet">
    <!-- favicon -->
    <link href="/favicon.ico" rel="shortcut icon">

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand" style="background:white"><img src="/images/sunstarlinear.png" style="height:38px"/></div>
        </div>
        <div class="navbar-collapse collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item{% ifequal path "/index.html" %}
                   active
                   {% endifequal %}"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item{% ifequal path "/about.html" %}
                   active
                   {% endifequal %}"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item{% ifequal path "/contact.html" %}
				  active
                   {% endifequal %}"><a class="nav-link" href="/contact">Contact</a></li>
            <li class="nav-item{% ifequal path "/open-source.html" %}
                   active
                   {% endifequal %}"><a class="nav-link" href="/open-source">Open Source</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More... <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-item"><a class="nav-link" href="/sitemap">Site Map</a></li>
				<li class="dropdown-item"><a class="nav-link" href="https://vcs.sunstarsys.com/repos/svn/public/site/trunk/">Site Source</a></li>
			 	<li><a href="https://svn.apache.org/repos/infra/websites/cms/">Apache CMS source</a></li>
                <li class="dropdown-item divider"></li>
                <li class="dropdown-header">Engagements</li>
                <li class="dropdown-item"><a class="nav-link" href="/clients">Clients</a></li>
                <li class="dropdown-item"><a class="nav-link" href="/essays">Essays</a></li>
              </ul>
            </li>
            <li class="nav-item{% ifequal path "/powered-by.html" %}
                     active
                     {% endifequal %}"><a class="nav-item" href="/powered-by">Powered by...</a></li>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	</div>
    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      {% block content %}
      <div class="page-header"><div style="text-align:right; padding-top:
      10px">{{ breadcrumbs|safe
      }}&nbsp;&nbsp;<a href="javascript:void(location.href='https://cms.sunstarsys.com/redirect?uri='+escape(location.href)+';action=edit')"><img src="/images/edit.png" /></a></div>
        <h1>{{ headers.title }}</h1></div>
      <div class="jumbotron">{{ content|markdown }}</div>
      {% endblock %}
<!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	</div>
	</body>
</html>
