{% extends "main.html" %}
{% block title %}{{title|safe}} q/{{regex}}/gi{% endblock %}
{% block content %}
<h1>{{title|safe}}<span class="text-danger">/</span>{{regex}}<span class="text-danger">/gi</span></h1><div class="breadcrumbs">{{ breadcrumbs|safe }}</div>
<div class="container">
  {% for k in keywords %}<span class="badge bg-danger" style="color:#000">
  <a style="color:#fff" href="./?regex=%23{{k}};lang={{lang}};markdown_search={{markdown_search}}">#{{k}}</a>
  </span>&nbsp;
  {% endfor %}
  {% if duration %}
  <canvas id="myChart" width="100%" height="800px"></canvas>
  {% endif %}
</div>
<div class="container">
  {{ graphviz|safe }}
  <p>&nbsp;</p>
  {% if matches.0 %}
  <dl>
    {% for m in matches %}
    <dt>{{ m.0|safe }}</dt>
    {% for hit in m.1 %}
    <dd>{{ hit|safe }}</dd>
    {% endfor %}
    {% endfor %}
  </dl>
  {% endif %}
  {% for f in friends %}
  {% if f.members %}
  <div class="card text-white border-success mb-3">
    <div class="card-header"><a href="./?regex={{f.text}};lang={{lang}};markdown_search={{markdown_search}}">{{ f.displayText }}</a></div>
    <div class="card-body">
      <ul>
        {% for m in f.members|dictsort:"text" %}
        <li class="card-text"><a href="./?regex={{m.text}};lang={{lang}};markdown_search={{markdown_search}}">{{ m.displayText }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% else %}
  <div class="card text-white border-success mb-3">
    <div class="card-header"><a href="./?regex={{f.text}};lang={{lang}};markdown_search={{markdown_search}}">{{ f.displayText }}</a></div>
    <div class="card-body">
      <ul>
        {% for g in f.groups|dictsort:"text" %}
        <li class="card-text"><a href="./?regex={{g.text}};lang={{lang}};markdown_search={{markdown_search}}">{{g.displayText}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% if watch.0 %}
  {% for w in watch %}
  <div class="card text-white border-warning mb-3">
    <div class="card-header"><a href="{{r.path_info}}./{{w.name}}">{{ w.name }}</a></div>
    <div class="card-body">
      <ul>
        {% for u in w.watchers %}
        <li class="card-text"><a href="./?regex={{u.text}};lang={{lang}};markdown_search={{markdown_search}}">{{u.displayText}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  {% if blog %}
  <pre>{{ blog }}</pre>
  {% endif %}
</div>
{% endblock %}

{% block javascript %}
{% if duration %}
<script async="" type="text/javascript">
  var ctx = document.getElementById("myChart").getContext("2d");
  const data = {{duration|safe}};
  const values = data.map(x => x[1]);
  var total = 0;
  for (var i=0; i < values.length; ++i)
      total += +values[i];
  total /= 60;

  const labels = data.map(x => "r" + x[0] + ":" + x[2] + ":" + x[3] + ":" +
  x[4]);
  var myChart = new Chart(
      ctx,
      {
          type: "bar",
          data: {
              labels: labels,
              datasets: [{
                  label: "Build Duration (s)",
                  data: values,
                  backgroundColor: "#8f99fb",

              }],
          },
          options: {
              indexAxis: "y",
              plugins: {
                  title: {
                      display: true,
                      text: total.toFixed(0) + " build minutes this month",
                  }
              },
              onClick: (e, elts, chart) => {
                  if (elts) {
                      const e = elts[0];
                      alert(Object.getOwnPropertyNames(e.element));
                  }
              },
          },
      });
</script>
{% endif %}
{% endblock %}
