{% extends "main.html" %}
{% block title %}{{title|safe}} q/{{regex}}/gi{% endblock %}
{% block content %}
<h1>{{title|safe}}<span class="text-danger">/</span>{{regex}}<span class="text-danger">/gi</span></h1><div class="breadcrumbs">{{ breadcrumbs|safe }}</div>
<div class="container">
  {% for k in keywords %}<span class="badge bg-danger" style="color:#000">
  <a style="color:#fff" href="./?regex=%23{{k}};lang={{lang}};markdown_search={{markdown_search}}">#{{k}}</a>
  </span>&nbsp;
  {% endfor %}
</div>
<div class="container">
  <dl>
    {% for m in matches %}
    <dt>{{ m.0|safe }}</dt>
    {% for hit in m.1 %}
    <dd>{{ hit|safe }}</dd>
    {% endfor %}
    {% endfor %}
  </dl>
  {% for f in friends %}
  {% if f.members %}
  <div class="card text-white border-success mb-3">
    <div class="card-header"><a href="./?regex={{f.text}};lang={{lang}};markdown_search={{markdown_search}}">{{ f.displayText }}</a></div>
    <div class="card-body">
      <ul>
        {% for m in f.members|dictsort:"text" %}
        <li class="card-text"><a href="./?regex={{m.text}};lang={{lang}};markdown_search={{markdown_search}}">{{ m.displayText }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% else %}
  <div class="card text-white border-success mb-3">
    <div class="card-header"><a href="./?regex={{f.text}};lang={{lang}};markdown_search={{markdown_search}}">{{ f.displayText }}</a></div>
    <div class="card-body">
      <ul>
        {% for g in f.groups|dictsort:"text" %}
        <li class="card-text"><a href="./?regex={{g.text}};lang={{lang}};markdown_search={{markdown_search}}">{{g.displayText}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% if w.0 %}
  <ul>
  {% for w in watch %}
  <li>
    {% ifequal w.type "directory" %}
    <a href="./{{w.name}}?regex={{regex}};lang={{lang}};markdown_search={{markdown_search}}">{{ w.name }}</a>
    {% else %}
    <a href="./{{w.name|dirname}}?regex={{regex}};lang={{lang}};markdown_search={{markdown_search}}">{{ w.name }}</a>
    {% endif %}
  </li>
  {% endfor %}
</div>
{% endblock %}
